<%- include("./partials/header") %>


    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <span class="navbar-text">
            My DashBoard
          </span>
          <a class="navbar-brand">My Work Plan</a>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </nav>
      <br>
      <div class="container">
      <form class="row g-3">
        <div class="col-md-4">
          <label for="validationDefault01" class="form-label">Task</label>
          <input type="text" class="form-control" id="validationDefault01" value="" required>
        </div>
        <div class="col-md-4">
          <label for="validationDefault02" class="form-label">Due Date</label>
          <input type="Date" class="form-control" id="validationDefault02" value="" required>
        </div>
        <div class="col-md-4">
          <label for="validationDefault02" class="form-label">Add Task</label><br>
          <button class="btn btn-outline-success" type="submit">Confirm</button>
        </div>
      </form>
    </div>
    <br>
        <div class="container">
      <table class="table">
        <thead>
          <tr class = "table-dark">
            <th scope="col">S.N.</th>
            <th scope="col">Task</th>
            <th scope="col">Due Date</th>
            <th scope="col">Days left</th>
            <th scope="col">Action</th>
           
          </tr>
        </thead>
        <tbody>
          <tr class="table-danger">
            <th scope="row">1</th>
            <td>Task 1</td>
            <td>08-09-2023</td>
            <td>Less than 2 Days</td>
            <td><button type="button" class="btn btn-outline-primary">Update
            </button><button type="button" class="btn btn-outline-danger">Delete</button></td>
          </tr>

          <tr class="table-warning">
            <th scope="row">2</th>
            <td>Task 2</td>
            <td>18-09-2023</td>
            <td>Less than 10 Days</td>
            <td><button type="button" class="btn btn-outline-primary">Update
            </button><button type="button" class="btn btn-outline-danger">Delete</button></td>
          </tr>
          <tr class="table-success">
            <th scope="row">3</th>
            <td>Task 3</td>
            <td>08-10-2023</td>
            <td>More than 10 Days</td>
            <td><button type="button" class="btn btn-outline-primary">Update
            </button><button type="button" class="btn btn-outline-danger">Delete</button></td>
          </tr>
          
        

<%- include("./partials/footer") %>